* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.body{
    background-color: #bde0fe;
}

.body-dark{
    background-color: #354452;
}

.header{
    display: flex;
}

.titulo{
    background-color: #92bde5;
    padding: 1%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.588); 
    width: 100%;
    height: auto;
}

.titulo-dark{
    background-color: #17222c;
    padding: 1%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.588); 
    width: 100%;
    height: auto;
}

.titulo #logo, .titulo-dark #logo{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Schoolbell', cursive;
}

.titulo h1, .titulo-dark h1{
    text-align: center;
    align-items: center;
    font-size: 45px;
    width: auto;
    height: 0;
}

.menu{
    display: block;
    margin-right: 3%;
}

.elemento, .elemento-dark{
    display: inline;
    margin: 10px;
    float: right;
}

.elemento a{
    color: black;
    text-decoration: none;
    
}

.elemento-dark a{
    color: whitesmoke;
    text-decoration: none;
    
}

.botao-menu {
    font-size: 20px;
    padding: 7px 15px;
    background-color: #a2d2ff; 
    border-radius: 10px;
    color: rgb(0, 0, 0); 
    border: none;
    cursor: pointer;
    transition: background-color 0.5s; 
}

.botao-menu:hover {
    background-color: #92bde5;
}

.botao-menu-dark {
    font-size: 20px;
    padding: 7px 15px;
    background-color: #233f4b; 
    border-radius: 10px;
    color: #fff; 
    border: none;
    cursor: pointer;
    transition: background-color 0.5s; 
}

.botao-menu-dark:hover {
    background-color: #92bde5;
}

.div-destaque{
    margin-top: 4%;
    text-align: center;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 10px;
}

.texto {
    width: 85%;
    text-align: justify;
    font-size: 24px;
    color: #000;
}

.texto-dark {
    width: 85%;
    text-align: justify;
    font-size: 24px;
    color: whitesmoke;
}

.caixa-criadores {
    display: flex;
    justify-content: center;
}

.destacar-texto{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.itens-img-legenda img{
    width: 120px;
    margin: 3vh;
}

.itens-img-legenda p{
    color: #000;
}

.itens-img-legenda-dark img{
    width: 120px;
    margin: 3vh;
}

.itens-img-legenda-dark p{
    color: whitesmoke;
}

.foto-perfil{
    width: 120px;
    margin: 3vh;
}

.subtitulo{
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    width: 450px;
    border-radius: 30px;
    background-color: #d19ef1;
    color: whitesmoke;
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.622); 
}

.subtitulo-dark{
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    width: 450px;
    border-radius: 30px;
    background-color: #723f92;
    color: whitesmoke;
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.622); 
}

.dados-subtitulo {
    display: inline-block;
    margin: 0 auto;
    padding-top: 10px;
    width: 450px;
    border-radius: 30px;
    background-color: #d19ef1;
    color: whitesmoke;
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.622); 
}

input[type='text-bio']{
    border-radius: 15px;
    padding: 18px 15px;
    width: 75%;
    height: 75px;
    text-align: left;
    border: 2px solid purple;
}

.label-memoria{
    width: 100%;
    height: 100%;
}

input[type='text-modal']{
    border-radius: 15px;
    padding:0;
    width: 90%;
    height: 100px;
    text-align: left;
    border: 2px solid rgb(202, 204, 75);
    
}

input[type='text-titulo']{
    border-radius: 15px;
    width: 40%;
    height: 25px;
    text-align: left;
    border: 2px solid rgb(202, 204, 75);
}

.date-memoria-modal{
    border-radius: 15px;
    width: 10%;
    height: 25px;
    border: 2px solid rgb(202, 204, 75);
}


.date-memoria-fixo{
    border-radius: 15px;
    width: 25%;
    height: 25px;
    border: 2px solid rgb(202, 204, 75);
}

.dados{
    padding: 18px 15px;
    background-color: #eaebb7;
    color: rgb(51, 51, 51);
    text-align: left;
    width: 100%;
    box-sizing: content-box;
    height: 150px;
    box-sizing: border-box;
}

.dados-fixo{
    padding: 18px 15px;
    background-color: #eaebb7;
    color: rgb(51, 51, 51);
    text-align: left;
    width: 100%;
    box-sizing: content-box;
    height: 170px;
    box-sizing: border-box;
}

#hdados {
    color: #000;
    text-align: initial;
    font-size: medium;
    padding: 10px;
}

#texto-nos{
    margin-top: 4%;
}

.menu-lateral {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li {
    padding: 10px;
    text-align: center;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

/* Estilize o conteúdo principal */
.conteudo {
    margin-left: 250px; /* Ajuste a margem para dar espaço ao menu-lateral lateral */
    padding: 20px;
}

.alert {
    color: red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    border-radius: 15px;
    background-color: #faf9b8;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.botao-salvar {
    font-size: 20px;
    padding: 7px 15px;
    background-color: #d7ffa2; 
    border-radius: 10px;
    color: #555555; 
    border: 2px solid #a1e660;
    cursor: pointer;
    transition: background-color 0.5s; 
}

.botao-salvar:hover {
    background-color: #bae592;
}

.close {
    padding: 5px 10px;
    border-radius: 50%;
    border: 3px solid #a1e660;
    background-color: #d7ffa2;
    color: #555555;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(41, 41, 41);
    text-decoration: none;
    cursor: pointer;
}

.botao-modal {
    position: fixed;
    right: 0;
    bottom: 25px;
    margin-right: 25px;
    float: right;
    font-size: 30px;
    padding: 10px 15px;
    background-color: #fff9a2; 
    border-radius: 50%;
    color: #000000; 
    border: 3px solid #d4cd63; 
    cursor: pointer;
    transition: background-color 0.5s; 
}

.botao-modal:hover {
    background-color: #faf6c5;
}

.nova-memoria {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    max-width: 600px;
    word-wrap: break-word;
}

.memoria1Container {
    display: inline-flex;
    margin-top: 25px;
    margin-left: 150px;
}

.titulo-memorias {
    display: inline-block;
    padding: 20px;
    width: 250px;
    border-radius: 30px;
    background-color: #f0f19e;
    color: rgb(34, 34, 34);
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.622); 
}

.texto-memorias {
    display: inline-block;
    padding: 20px;
    width: 250px;
    border-radius: 30px;
    background-color: #f0f19e;
    color: rgb(34, 34, 34);
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.622); 
}

.footer {
    margin-top: 100%;
    text-align: center;
}